body {
    font-family: "Barlow", sans-serif;
    display: inline-block;
  }


  h1{

    margin:0;
  }
  .node {
    cursor: pointer;
  }
p{
  width: 300px;
}
  .node circle {
    fill: black;
    stroke: white;
    stroke-width: 3px;
  }

  .node{
    font-family: "Barlow", sans-serif;
    font-size: 9px;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }

  .found {
    fill: none;
    /* fill: #fa0f0c; */
    stroke: #fa0f0c;
  }

  .search {
    float: left;
    font-family: "Barlow", sans-serif;
    font: 14px;
    width:200px;

  }

  ul.select2-results {
    max-height: 100px;
    width:200px;

  }

  .select2-container,
  .select2-drop,
  .select2-search,
  .select2-search input {
    font-family: "Barlow", sans-serif;
    font: 15px;
    width:200px;
  }

  #block_container {
    position: fixed;
    width: 20%;
  }

  #def {
    float: none;
    display: inline-block;
    border-right: 2px solid black;
  }


  .CMMMWALL,
  .SCHOLARLY,
  .ACTIVISTS\/MEDIA,
  .INSTITUTIONAL {
    float: none;
    display: inline-block;
    width: 400px;
    height: 40vh;
    background-color: white;
    margin-right: 0.25em;
    display: none;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-left:50px;
  }


/*   Color of Tags in Textbox */

#big{
  font-size: 15px;
  font-weight: bold;
}

#SCHOLARLYsp{
  background-color: red;
}

#CMMMWALLsp{
  background-color: orange;
}

#ACTIVISTS\/MEDIAsp{
  background-color: blue;
}

#INSTITUTIONALsp{
  background-color: green;
}

  #definitions {
    width: 100vw;
    height: 40vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    overflow: auto;
    white-space: nowrap;

  }

  #graph {
    position: fixed;
    width: 100vw;
    height: 60vh;
    background-color: white;
  }

  #filters {
    position: fixed;
    height: 4vh;
    width: 100vw;
    bottom: 40vh;
    background-color:#FAFAFA;
  }

  .selected {
    fill: black;
    text-decoration: underline;
    font-weight: 700;

}

#year{
  font-weight: 200;
}

.btn-cmmm{background-color: orange; border: none;}
.btn-act{background-color: blue; border: none;}
.btn-scho{background-color: red; border: none;}
.btn-inst {background-color: green; border: none;}


svg {
  z-index: 99999;
}