body {
    font-family: "Barlow", sans-serif;
    display: inline-block;
  }


  h1{

    margin:0;
  }
  .node {
    cursor: pointer;
  }
p{
  width: 300px;
}
  .node circle {
    fill: black;
    stroke: white;
    stroke-width: 3px;
  }

  .node{
    font-family: "Barlow", sans-serif;
    font-size: 9px;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }

  .found {
    fill: none;
    /* fill: #fa0f0c; */
    stroke: #fa0f0c;
  }

  .search {
    float: left;
    font-family: "Barlow", sans-serif;
    font: 14px;
    width:200px;

  }

  ul.select2-results {
    max-height: 100px;
    width:200px;

  }

  .select2-container,
  .select2-drop,
  .select2-search,
  .select2-search input {
    font-family: "Barlow", sans-serif;
    font: 15px;
    width:200px;
  }

  #block_container {
    position: fixed;
    width: 20%;
  }

  #def {
    float: none;
    display: inline-block;
    border-right: 2px solid black;
  }
#myBtnContainer{
  margin-left: 50px;
}
  .welcome {
    border-right: 0px solid black !important;
    font-size: 20px !important;
    float: none;
    display: inline-block;
    width: 50vw;
    height: 40vh;
    background-color: white;
    margin-right: 0.25em;
    display: none;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-left: 50px;  }

  .CMMMWALL,
  .SCHOLARLY,
  .ACTIVISTS\/MEDIA,
  .INSTITUTIONAL {
    float: none;
    display: inline-block;
    width: 400px;
    height: 40vh;
    background-color: white;
    margin-right: 0.25em;
    display: none;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-left:50px;
  }


/*   Color of Tags in Textbox */

#big{
  font-size: 18px;
  font-weight: 700;
  font-style: uppercase;
}

#medium{
  font-size: 14px;
  font-weight: 400;
}

#small{
  font-size: 10px;
  font-weight: regular;
}

#SCHOLARLYsp{
  background-color: #E84A42;
}

#CMMMWALLsp{
  background-color: #F59C00;
}

#ACTIVISTS\/MEDIAsp{
  background-color: #009FE3;
}

#INSTITUTIONALsp{
  background-color: #95C11F;
}

  #definitions {
    width: 100vw;
    height: 40vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    overflow: auto;
    white-space: nowrap;

  }


  #graph {
    position: fixed;
    height: 60%;
    background-color: white;
    margin-top: 200px;
    width: 98%;
    text-align:center;
    margin:auto;
  }

  #filters {
    position: fixed;
    height: 4vh;
    width: 100vw;
    bottom: 40vh;
    background-color:#FAFAFA;
  }

  .selected {
    fill: black;
    text-decoration: underline;
    font-weight: 700 !important;

}

#year{
  font-weight: 200;
}


.btn-cmmm{background-color: #F59C00; border: none;     font-family: "Barlow", sans-serif;}
.btn-act{background-color: #009FE3; border: none;    font-family: "Barlow", sans-serif;}
.btn-scho{background-color: #E84A42; border: none;    font-family: "Barlow", sans-serif;}
.btn-inst {background-color: #95C11F; border: none;    font-family: "Barlow", sans-serif;}

.active {
  opacity: 0.3;
}






svg {
  z-index: 99999;
}