body {
  font-family: "Barlow", sans-serif !important;
      display: inline-block;
    margin: none;
    margin-left: 15px;
  }


  h1{
    font-weight: 700;
font-size: 1.5em;
    margin:0;
    display: inline-block;
  }
  .node {
    cursor: pointer;
  }
p{
  width: 300px;
}
  .node circle {
    fill: black;
    stroke: white;
    stroke-width: 3px;
  }

  .node{
    font-family: "Barlow", sans-serif;
    font-size: 9px;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }

  .found {
    fill: none;
    /* fill: #fa0f0c; */
    stroke: #fa0f0c;
  }

  .search {
    float: left;
    font-family: "Barlow", sans-serif;
    font: 14px;
    width:200px;

  }

  ul.select2-results {
    max-height: 100px;
    width:200px;

  }

  .select2-container,
  .select2-drop,
  .select2-search,
  .select2-search input {
    font-family: "Barlow", sans-serif;
    font: 15px;
    width:200px;
  }
#logo{
  display: inline-block;
translate: 100px 200px;
vertical-align: top;
margin-top: -7px;
}



  #block_container {
    position: fixed;
    width: 20%;
    z-index:999999;
  }

  #def {
    float: none;
    display: inline-block;
    border-right: 2px solid black;
  }
#leiste{
  position:fixed;
  background-color: white;
  width: 100%;
  height: 10px;
}
#footer-logos{
  
}
  .card{
    z-index: 999999999999;
    background-color: #f8f8f8;
    width: 60vw;  
    margin-left: 40vw;
    text-align: left;
    height: 100vh;
    border:none;
  }
#myBtnContainer{
text-align: right;
margin-top: 8.5px;
margin-right: 3%;}

  .welcome {
    border-right: 0px solid black !important;
    font-size: 20px !important;
    float: none;
    display: inline-block;
    width: 50vw;
    height: 40vh;
    background-color: white;
    margin-right: 0.25em;
    display: none;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-left: 50px;  }

  .CMMMWALL,
  .SCHOLARLY,
  .ACTIVISTS-MEDIA,
  .INSTITUTIONAL {
    float: none !important;
    vertical-align: top !important;
    display: inline-block !important;
    width: 350px;
    height: 100vh;
    background-color: white;
    margin-right: 0.25em;
    margin-top: 5px;
    display: none;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-left: 15px;
  }


/*   Color of Tags in Textbox */

#big{
  font-size: 18px;
  font-weight: 700;
  font-style: uppercase;
}
h2{ font-weight: 700;}

#medium{
  font-size: 14px;
  font-weight: 400;
}

#small{
  font-size: 10px;
  font-weight: regular;
}

#SCHOLARLYsp{
  background-color: #E84A42;
}

#CMMMWALLsp{
  background-color: #F59C00;
}

#ACTIVISTS\/MEDIAsp{
  background-color: #009FE3;
}

#INSTITUTIONALsp{
  background-color: #95C11F;
}

  #definitions {
    width: 60vw;
    height: 100vh;
    margin-left: 40vw;
    background-color: white;
    position: fixed;
    top: 6vh;
    overflow: auto;
    white-space: nowrap;
    border-left: 2px solid black;

  }


  #graph {
    position: fixed;
    height: 100%;
    background-color: white;
    width: 40%;
    text-align:left;
    display: block;}

  #filters {
    position: fixed;
    top: 0.25%;
    height: 5vh;
    width: 100vw;
    background-color:#FAFAFA;
  }

  .selected {
    fill: black;
    text-decoration: underline;
    font-weight: 700 !important;

}

#away {
  display:none !important;
}
#year{
  font-weight: 200;
}


.btn-cmmm{background-color: #F59C00; border: none;     font-family: "Barlow", sans-serif; font-size: 13px;}
.btn-act{background-color: #009FE3; border: none;    font-family: "Barlow", sans-serif;   font-size: 13px;}
.btn-scho{background-color: #E84A42; border: none;    font-family: "Barlow", sans-serif;   font-size: 13px; }
.btn-inst {background-color: #95C11F; border: none;    font-family: "Barlow", sans-serif;  font-size: 13px; }
.btn-all {background-color:#d3d3d3; border: none; font-family: "Barlow", sans-serif;  font-size: 13px;}
.btn-info{color: black; margin-left: 20px;background-color: white; border: 1px solid black; border-radius: 400px; font-family: "Barlow", sans-serif;  font-size: 13px;}

.active {
  opacity: 0.3;
}

.re {
  opacity: 1;
}





svg {
  z-index: 99999;
}